.header{
	height: 30rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 1rem;
	background-image: url(/src/assets/img/hero.png);
	background-size: cover;
}

.subtitle{
	font-size: 1.8rem;
	font-weight: 700;
}

.subtitle-light{
	text-align: center;
	color: white;
}

.subtitle-hero{
	font-size: 3rem;
}

.text-center{
	text-align: center;
}

.btn{
	color: white;
	background-color: rgb(0 210 205);
	text-transform: capitalize;
	border-radius: 0.2rem;
	padding: 1rem 2rem;
}