
*{
	box-sizing: border-box;
}

img{
	width: 100%;
}

body{
	font-family: Inter;
	background-color: rgb(255, 253, 253);
}

a{
	text-decoration: none;
	color: currentColor;
}

p{
	line-height: 1.5;
}

.suptitle{
	font-size: 0.8rem;
	font-weight: 300;
	text-transform: uppercase;
}

.suptitle-light{
	color: white;
}